.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.hero__content {
  position: relative;
  max-width: 700px;
  z-index: 1;
}

.hero__content h1 {
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.hero__content span {
  color: #FF577F;
  font-size: 7rem;
  font-weight: bold;
  display: block;
}

.section__illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Arrow */
.downArrow{
	position: absolute;
	left: 50%;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media (max-width: 768px) {
  .section__illustration {
    opacity: 0.4;
  }
}

@media (max-width: 540px) {
  .hero {
    padding: 0 30px;
    flex-direction: column;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__content h1 {
    font-size: 2rem;
  }

  .hero__content span {
    font-size: 3rem;
  }

  .section__illustration {
    opacity: 1;
  }
}